<navbar>
</navbar>
<div class="form-group has-feedback" id="add-extensions">
    <input type="text" ng-model="product" class="form-control" placeholder="Produktenamen eingeben" />
    <i class="glyphicon glyphicon-plus form-control-feedback" ng-click="vm.logProduct(product) "></i>
</div>

<label for="exampleInputEmail1">Vorschlage Produktenamen:</label>
<div class="card" id="add-suggested-color">
    <div class="card-body">
        <div class="container">
            <div ng-repeat="product in vm.products">
                <div class="product-suggestions col-sm-6 col-md-4 col-lg-10 col-xl-10">{{product.productName}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<label>Einkaufsliste:</label>
<div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Produktnummer
                </th>
                </th>
                <th scope="col">
                    Produckt
                </th>
                </th>
                <th scope="col">
                    Preis
                </th>
                </th>
                <th scope="col">
                    <a ng-click="order('category')">
                        Kategorie
                        <span ng-show="predicate === 'category'" class="fa fa-caret-down" ng-class="{reverse:reverse}"></span>
                    </a>
                </th>
                <th scope="col">
                    Bild
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="input in vm.productsarray | orderBy:predicate:sortReverse">
                <th class="table-primary">{{input.productNumber}}</th>
                <td class="table-primary">{{input.productName}}</td>
                <td class="table-primary">{{input.price}}$</td>
                <td class="table-primary">{{input.category}}</td>
                <td class="table-primary">
                    <img ng-src="{{input.image}}">
                </td>
            </tr>
        </tbody>
    </table>
</div>